<header>
  <div class="title">
    <h1><.link navigate={~p"/"}>justyn hunter</.link></h1>
  </div>
  <div class="link_container">
    <.live_component module={WorksMenuComponent} id="works_menu" />
    <.link navigate={~p"/about"}>about</.link>
    <.link navigate={~p"/contact"}>contact</.link>
  </div>
</header>
<main>
  <%= @inner_content %>
</main>
<footer>
  <div>copyright <%= DateTime.utc_now |> Map.fetch!(:year) %>, all rights reserved.</div>
</footer>
