:root {
    --colors-bg: #fdfaf8;
    --colors-link: #800000;
    --colors-font: #333;

    --page-max-width: 1024px;
}

body {
    margin: auto;
    width: 90%;
    max-width: var(--page-max-width);

    background-color: var(--colors-bg);
    color: var(--colors-font);

    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--colors-link);
    background-image: linear-gradient(var(--colors-link), var(--colors-link));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        background-size: 100% 0.1em;
        background-position-x: 0%;
    }
    
    &[target="_blank"] {
        margin-right: 1em;
    }

    &[target="_blank"]::after {
        content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
        margin: 0 3px 0 5px;
        position: absolute;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 25px;

    & div.title {
        margin-right: 24px;
    }

    & a {
        color: var(--colors-font);
    }

    & .link_container {
        display: flex;
        font-size: 18px;

        & a {
            border-bottom: none;
            font-weight: normal;
            margin-left: 10px;
        }
    }
}

body.error {
    & header {
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
            margin-top: -55px;
        }

        & h1 {
            margin: 0;
            font-size: 288px;
            margin-top: -35px;
        }
    }

    & main {
        & h2 {
            font-size: 36px;
        }
    }
}

main {
    text-align: center;
}

hr {
    width: 70%;
}

footer {
    font-size: small;
    text-align: center;

    padding: 24px 0;
}

form {
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > div {
        width: 100%;
        text-align: left;
        margin-bottom: 24px;
    }

    & > button {
        margin: auto;
        padding: 4px 32px;
    }

    & textarea {
        width: calc(100% - 18px);
        height: 250px;

        padding: 8px;
    }

    & input {
        font-size: 16px;
        border: solid 1px #444;
        padding: 8px 8px;
        
        width: calc(100% - 18px);

        &:hover {
            animation: shadow_in 400ms ease normal forwards;
        }
    }
}

#form_container {
    max-width: calc(var(--page-max-width) / 2);
    margin: auto;
}

.triangle_down {
    margin-top: 2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid var(--colors-font);
    font-size: 0;
    line-height: 0;
}

.hide {
    display: none;
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade_in {
    animation: fade_in 500ms, forwards ease;
}

@keyframes shadow_in {
    from {
        box-shadow: none;
    }

    to {
        box-shadow: inset 0 0 8px -2px #444;
    }
}

@keyframes focus_in {
    from {
        filter: blur(2px);
    }

    to {
        filter: blur(0px);
    }
}

.focus_in {
    animation: focus_in 800ms forwards ease;
}

.dropdown_menu {
    display: flex;
    flex-direction: column;

    & ul {
        display: none;
        opaction: 0;
        position: absolute;
        z-index: 5;

        background-color: var(--colors-bg);

        list-style-type: none;
        padding: 12px;
        margin: 0;
        margin-top: 18px;

        & a {
            padding: 0;
        }

        &.show {
            display: inline;
            animation: focus_in 250ms forwards ease;
        }
    }

    & a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;
    }
}

.image_carousel {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: var(--page-max-width);

    opacity: 1;
    transition: opacity 400ms ease-out;

    & img {
        width: 100%;
        max-width: var(--page-max-width);
        aspect-ratio: 4 / 3;
        object-fit: contain;

        margin-bottom: 10px;
    }

    & button {
        z-index: 2;
        position: absolute;
        height: 100%;
        max-height: 768px;
        width: 50%;

        background: transparent;

        border: none;
        padding: 0;

        &:first-child {
            left: 0;
            cursor: w-resize;
        }

        &:last-child {
            right: 0;
            cursor: e-resize;
        }
    }
}

.copy_area {
    width: 100%;
    max-width: calc(var(--page-max-width) / 2);
    margin: auto;
    text-align: left;

    & h2, h3 {
        all: unset;
        text-decoration: underline;
        font-weight: bold;
    }
}

@media screen and (max-width: 440px) {
    header h1 {
        font-size: 18px;
    }

    header .link_container {
        font-size: 16px;
    }
}

@media screen and (max-width: 720px) {
    .hide {
        display: block;
    }

    .fade_in {
        animation: unset;
    }

    #image_container button {
        display: none;
    }

    body.error {
        & header {
            & h1 {
                font-size: 72px;
                margin: 0;
            }

            & p {
                margin: 0;
            }
        }

        & main {
            & h2 {
                font-size: 18px;
            }
        }
    }
}
